
<!DOCTYPE html>
<html class="no-js">

    <head>

        <meta charset="utf-8">
        <title>CINS | 登陆</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/supersized.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body style="font-size:18px">

        <div class="page-container">
            <h2>Lib | 图书借阅管理系统</h2>
            <form action="../controller/sigininController.php" method="GET" style="font-size:18px">
                <input type="text" name="username" class="username" placeholder="Username" >
                <input type="password" name="password" class="password" placeholder="Password">
				<div class="rows" style="height:44">
               <a href="../../reg"> <button type="button" style=" float:left">注册</button></a>
				    <button type="submit" style=" float:right">登录</button>
				</div>
                <div class="error"><span>+</span></div>
            </form>
        </div>
      <footer style="text-align: center;margin-top:150px; font-size:0.9em;">
        <p>&copy; 2015 lib - 图书借阅管理系统，
        <a href="http://www.fddcn.cn" target="_blank" style="text-decoration:none; color:white">by fddcn.cn</a></p>
      </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/js/supersized.3.2.7.min.js"></script>
        <script src="assets/js/supersized-init.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>

