<!DOCTYPE html>
<htmlclass="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>CINS-图书借阅管理系统</title>
		<link rel="stylesheet" type="text/css" href="../res/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../res/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../res/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../res/css/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="../res/css/cs-skin-boxes.css" />
		<script src="../res/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">

			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h2>注册 | CINS-图书借阅管理系统</h2>
					
				</div>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off" action="../controller/regController.php" method="GET">
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" for="q1">请输入你的用户名?</label>
							<input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="你的用户名" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q2">请输入你的密码?</label>
							<input class="fs-anim-lower" id="q2" name="q2" type="password" placeholder="你的密码" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q3">请输入你的姓名?</label>
							<input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="你的姓名" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q4">请输入你的性别?</label>
							<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower" required>
								<span><input id="q4b" name="q4" type="radio" value="1" required/><label for="q4b" class="radio-boy">男生</label></span>
								<span><input id="q4c" name="q4" type="radio" value="2" required/><label for="q4c" class="radio-girl">女生</label></span>
							</div>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q5">请输入你的专业年级?</label>
							<input class="fs-anim-lower" id="q5" name="q5" type="text" placeholder="你的专业年级" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q6">请输入你的手机号码?</label>
							<input class="fs-anim-lower" id="q6" name="q6" type="text" placeholder="你的手机号码" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q7" data-info="We won't send you spam, we promise...">您的电子邮件地址是什么?</label>
							<input class="fs-anim-lower" id="q7" name="q7" type="text" placeholder="eric@lishengcn.cn" required/>
						</li>
					</ol>
					<input type="submit" class="fs-submit" value="注册">
				</form>
			</div>

		

		</div><!-- /container -->
		<script src="../res/js/classie.js"></script>
		<script src="../res/js/selectFx.js"></script>
		<script src="../res/js/fullscreenForm.js"></script>
		<script>
			(function() {
				var formWrap = document.getElementById( 'fs-form-wrap' );

				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){
							document.querySelector('span.cs-placeholder').style.backgroundColor = val;
						}
					});
				} );

				new FForm( formWrap, {
					onReview : function() {
						classie.add( document.body, 'overview' ); // for demo purposes only
					}
				} );
			})();
		</script>
	</body>
</html>