<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel="stylesheet" href="css/login.css" />
	<!--侧滑CSS-->
	<style type="text/css">
		#page {
			height: 100%;
		}
		.panel {
			display: none;
			width: 100%;
		}
		.login {
			height: 100%;
		}
	</style>
	<!--侧滑CSS结束-->

</head>

<body style="overflow: hidden;">
	<!--登陆-->
	<div id="page">
		<div class="login">
			<div class="container">
				<div class="left">
					<img src="img/Login_Left_Img.png" />
				</div>
				<div class="right">
					<div class="logo">
						<img src="img/Logo.png" />
					</div>
					<div class="login_content">
						<div class="content" style="padding: 60px;">
							<div class="user_Head_portrait">
								<img src="img/Login_Right_Person.png" />
							</div>
							<form method="get">
								<div class="login_input">
									<input id="email" name="userMail" type="text" placeholder="用户名" />
									<input id="password" name="userPWD" type="password" placeholder="密码" />
								</div>
								<div class="login_btn">
									<!--登陆按钮-->
									<button class="btn_login" value="login" onclick="CheckLogin();return false;" name="controller"></button>
								</div>
							</form>
						</div>
					</div>
					<!--注册按钮-->
					<div class="btn_zc">
						<a href="register.html" style="position: relative;top: 20px;">还没有账号？马上注册</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--登陆结束-->

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.panelslider.min.js"></script>
	
	<!--验证登陆JS-->
	<script type="text/javascript" src="js/myJS.js" ></script>
	<!--验证登陆JS结束-->
</body>

</html>