<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>

		<!-- Bootstrap core CSS -->
		<link href="assets/css/bootstrap.css" rel="stylesheet">
		<!--external css-->
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
		<link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
		<link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">

		<!-- Custom styles for this template -->
		<link href="assets/css/style.css" rel="stylesheet">
		<link href="assets/css/style-responsive.css" rel="stylesheet">

		<script src="assets/js/chart-master/Chart.js"></script>

		<style type="text/css">
			.pn {
				height: 200px;
			}
			.btn {
				width: 50%;
			}
		</style>
	</head>

	<body>
		<section id="container">
			<!--头部开始-->
			<header class="header black-bg">
				<!--侧滑菜单栏开始-->
				<div class="sidebar-toggle-box">
					<div class="fa fa-bars tooltips" data-placement="right" data-original-title="隐藏侧边栏"></div>
				</div>
				<!--侧滑菜单栏结束-->
				<!--导航栏logo开始-->
				<a href="#" class="logo">
					<img src="img/Logo.png" style="width: 70px;" />
				</a>
				<!--导航栏logo结束-->
				<!--退出按钮开始-->
				<div class="top-menu">
					<ul class="nav pull-right top-menu">
						<li>

							<a class="logout" onclick="logout()">
								<span class="fa fa-power-off"></span>　退出</a>
						</li>
					</ul>
				</div>
				<!--退出按钮结束-->
			</header>
			<!--头部结束-->

			<!--左侧侧滑菜单开始-->
			<aside>
				<div id="sidebar" class="nav-collapse ">
					<!--菜单内容开始-->
					<ul class="sidebar-menu" id="nav-accordion">
						<!--头像昵称开始-->
						<p class="centered">
							<a href="personal_information.html">
								<img src="img/ui-sam.jpg" class="img-circle" width="70">
							</a>
						</p>
						<h5 class="centered" id="side_name"></h5>
						<!--头像昵称结束-->
						<!--个性签名开始-->
						<div class="gxq">
							<p id="side_intro">还没好好的感受雪花绽放的温柔~</p>
						</div>
						<!--个性签名结束-->
						<!--我的动态开始-->
						<li class="mt">
							<a href="dynamic.html">
								<i class="fa fa-refresh"></i>
								<span>我的动态</span>
								<i class="fa fa-angle-right" style="float: right;"></i>
							</a>
						</li>
						<!--我的动态结束-->
						<!--个人资料开始-->
						<li class="mxt">
							<a href="personal_information.html">
								<i class="fa fa-user"></i>
								<span>个人资料</span>
								<i class="fa fa-angle-right" style="float: right;"></i>
							</a>
						</li>
						<!--个人资料结束-->
						<!--我的好友开始-->
						<li class="mxt">
							<a class="active" href="my_friends.html">
								<i class="fa fa-users"></i>
								<span>我的好友</span>
								<i class="fa fa-angle-right" style="float: right;"></i>
							</a>
						</li>
						<!--我的好友结束-->
						<!--我的同学录开始-->
						<li class="sub-menu">
							<a href="alumni_page.html">
								<i class="fa fa-file"></i>
								<span>我的同学录</span>
								<i class="fa fa-angle-right" style="float: right;"></i>
							</a>
						</li>
						<!--我的同学录结束-->
						<!--关于我们开始-->
						<li class="sub-menu">
							<a href="">
								<i class="fa fa-star"></i>
								<span>关于我们</span>
								<i class="fa fa-angle-right" style="float: right;"></i>
							</a>
						</li>
						<!--关于我们结束-->
					</ul>
					<!-- sidebar menu end-->
				</div>
			</aside>
			<!--左侧侧滑菜单结束-->

			<!--正文开始-->
			<section id="main-content">
				<section class="wrapper">
					<div class="row">
						<!--中间部分开始-->
						<div class="col-lg-9 main-chart">
							<div class="row mt">
								<div class="col-md-12 mb">
									<div class="white-panel pn" style="height: 100%;">
										<div class="white-header">
											<h5>我的好友</h5>
											<a id="serach_friends"><span class="fa fa-search">搜索好友</span></a>&nbsp;&nbsp;&nbsp;
											<a id="add_friends"><span class="fa fa-plus">添加好友</span></a>
										</div>
										<div class="row mt " id="friend_block_search">
											<label class="search_input">
												<input type="text" id="name" placeholder="用户名" />
												<a>
													<button class="btn" style="width: auto;vertical-align:baseline;" onclick="search(1)">搜索</button>
												</a>
											</label>
										</div>
										<div class="row mt " id="friend_block_add">
											<label class="search_input">
												<input type="text" id="names" placeholder="用户名" />
												<a>
													<button class="btn" style="width: auto;vertical-align:baseline;" onclick="search(2)">搜索添加</button>
												</a>
											</label>
										</div>
										<div class="row mt" id="list">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--中间部分结束-->

						<!--右侧部分开始-->
						<div class="col-lg-3 ds">
							<!--心情小记开始-->
							<h3>心情小记</h3>
							<!--输入日记-->
							<div class="inputdiary">
								<form method="post" action="#">
									<p></p>
									<textarea rows="4" wrap="soft" id="dailyCon" placeholder="今天发生了什么呢？写点吧..."></textarea>
									<div style="margin-top: -10px;">
										<span class="fa fa-upload" style="position: relative;top: 25px;left: 100px;"></span>
										<input type="button" onclick="dailySub()" value="发布" />
									</div>

								</form>
							</div>
							<!--输入日记结束-->
							<!--日记1开始-->
							<div id="daily">

							</div>
							<button class="btn btn-block" style="width: 100%;">没有更多了</button>
							<!--日记5结束-->
							<!--心情小记结束-->

							<!--日历开始-->

							<!--日历结束-->

						</div>
						<!--右侧部分结束-->
					</div>
				</section>
			</section>
			<!--正文结束-->

		</section>
	</body>

	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/jquery-1.8.3.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="assets/js/jquery.scrollTo.min.js"></script>
	<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/js/jquery.sparkline.js"></script>

	<!--common script for all pages-->
	<script src="assets/js/common-scripts.js"></script>

	<script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="assets/js/gritter-conf.js"></script>

	<!--script for this page-->
	<script src="assets/js/sparkline-chart.js"></script>
	<script src="assets/js/zabuto_calendar.js"></script>
	<script src="js/init.js"></script>
	<script>
		var flag_1 = 0;
		var flag_2 = 0;
		document.getElementById("serach_friends").onclick = function() {
			if (flag_1 == 0) {
				document.getElementById("friend_block_add").style.display = "none";
				document.getElementById("friend_block_search").style.display = "block";
				flag_1 = 1;
			} else {
				document.getElementById("friend_block_search").style.display = "none";
				flag_1 = 0;
			}
		}
		document.getElementById("add_friends").onclick = function() {
			if (flag_2 == 0) {
				document.getElementById("friend_block_search").style.display = "none";
				document.getElementById("friend_block_add").style.display = "block";
				flag_2 = 1;
			} else {
				document.getElementById("friend_block_add").style.display = "none";
				flag_2 = 0;
			}
		}
	</script>

	<script type="application/javascript">
		$(document).ready(function() {
			$("#date-popover").popover({
				html: true,
				trigger: "manual"
			});
			$("#date-popover").hide();
			$("#date-popover").click(function(e) {
				$(this).hide();
			});
			$("#my-calendar").zabuto_calendar({
				action: function() {
					return myDateFunction(this.id, false);
				},
				action_nav: function() {
					return myNavFunction(this.id);
				},
				ajax: {
					url: "show_data.php?action=1",
					modal: true
				},
				legend: [{
					type: "text",
					label: "Special event",
					badge: "00"
				}, {
					type: "block",
					label: "Regular event",
				}]
			});
		});

		function myNavFunction(id) {
			$("#date-popover").hide();
			var nav = $("#" + id).data("navigation");
			var to = $("#" + id).data("to");
			console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
		}
	</script>
	<script>
		$.ajax({
			url: "../controller/user/user_controller.php",
			dataType: "json",
			data: {
				userId: localStorage['userId'],
				controller: 'getAllFriend'
			},
			cache: false,
			success: function(data) {
				for (var i in data) {
					localStorage.setItem(data[i].id, data[i].nickname);
					if (i === 'num')
						break;
					var html = '<div class="col-md-6 mb">' +
						'<div class="white-panel pn">' +
						'<p>' +
						'<img src="assets/img/ui-zac.jpg" class="img-circle" width="80">' +
						'</p>' +
						'<p><b>' + data[i].nickname + '</b>' +
						'</p>' +
						'<div class="row">' +
						'<div class="col-md-6">' +
						'<button class="btn btn-info" onclick="friendInfo(' + data[i].id + ')">个人资料</button>' +
						'</div>' +
						'<div class="col-md-6">' +
						'<a onclick="writes(' + data[i].id + ')"><button class="btn btn-success">写给他</button></a>' +
						'</div>' +
						'</div>' +
						'</div>' +
						'</div>';
					$('#list').append(html);
				}
			},
			error: function(e) {
				window.location.href="slide.html";
			}
		});

		function search(num) {
			if (num === 1) {
				var ss = $('#name').val();
				var controller = 'getAllFriend';
			} else {
				var ss = $('#names').val();
				var controller = 'saerchFriend';
			}
			$.ajax({
				url: "../controller/user/user_controller.php",
				dataType: "json",
				data: {
					userId: localStorage['userId'],
					nickName: ss,
					controller: controller
				},
				cache: false,
				success: function(data) {
					if (num === 2)
						data = eval('(' + data + ')');
					$('#list').empty();
					for (var i in data) {
						localStorage.setItem(data[i].id, data[i].nickname);
						if (i === 'num' || i > 10)
							break;
						if (num === 1 && data[i].nickname != ss) {
							continue;
						}
						var html = '<div class="col-md-6 mb">' +
							'<div class="white-panel pn">' +
							'<p>' +
							'<img src="assets/img/ui-zac.jpg" class="img-circle" width="80">' +
							'</p>' +
							'<p><b>' + data[i].nickname + '</b>' +
							'</p>' +
							'<div class="row">' +
							'<div class="col-md-6">';
						if (num === 1) {
							html += '<button class="btn btn-info" onclick="friendInfo(' + data[i].id + ')">个人资料</button>';
						} else {
							html += '<button class="btn btn-info" onclick="add(' + data[i].id + ')">加好友</button>';
						}
						html += '</div>' +
							'<div class="col-md-6">' +
							'<a onclick="writes(' + data[i].id + ')"><button class="btn btn-success">写给他</button></a>' +
							'</div>' +
							'</div>' +
							'</div>' +
							'</div>';
						$('#list').append(html);
					}
				},
				error: function(e) {
					window.location.href="slide.html";
				}
			});
		}

		function writes(writeId) {
			//			alert(writeId);
			localStorage.setItem('writeId', writeId);
			window.location.href = "to_my_friends.html";
		}

		function add(friendId) {
			addInfo = {};
			addInfo.userId = localStorage['userId'];
			addInfo.friendId = friendId;
			addInfo.controller = 'add';
			$.ajax('../controller/user/user_controller.php', {
				data: addInfo,
				dataType: 'json', //服务器返回json格式数据
				type: 'get', //HTTP请求类型
				timeout: 10000, //超时时间设置为10秒；
				success: function(data) {
					if (!data) {
						alert('请求失败');
					}
					alert('添加成功');
				},
				error: function(xhr, type, errorThrown) {
					//异常处理；
					alert('服务器错误');
				}
			});
		}

		function friendInfo(friend_info) {
			localStorage.setItem('friend_info', friend_info);
			window.location.href = "friend_info.html"
		}
	</script>

</html>