<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel="stylesheet" href="css/login.css" />
	<!--侧滑CSS-->
	<style type="text/css">
		#page {
			height: 100%;
		}
		.panel {
			display: none;
			width: 100%;
		}
		.login {
			height: 100%;
		}
	</style>
	<!--侧滑CSS结束-->

</head>

<body style="overflow: hidden;">

	<!--注册-->
	<div id="page">
		<div class="login">
			<div class="container">
				<div class="left">
					<img src="img/Register_Left_Image.png" style="width: 50%;" />
				</div>
				<div class="right">
					<div class="logo">
						<img src="img/Logo.png" />
					</div>
					<div class="login_content register_content" style="top: -40px;">
						<div class="content">
							<div class="user_Head_portrait">
								<img src="img/Login_Right_Person.png" />
							</div>
							<form method="get" style="margin: -20px;">
								<div class="login_input">
									<input id="zc_email" type="text" name="userMail" placeholder="邮箱" />
									<input id="zc_username" type="text" name="userNickName" placeholder="昵称" />
									<input id="zc_phonenumber" type="text" name="userTel" placeholder="手机号" />
									<input id="zc_psw" type="password" name="userPWD" placeholder="密码" />
									<input id="zc_psw_2" type="password" name="userPWD_2" placeholder="确认密码" />
								</div>
								<div class="login_btn">
									<!--注册按钮-->
									<button name="controller" value="reg" onclick="CheckRegister();return false;" class="btn_register"></button>
								</div>
							</form>
						</div>
					</div>
					<!--登陆按钮-->
					<a href="login.html" style="position: relative;top: -20px;">已有账号？点此登陆</a>
				</div>
			</div>
		</div>
	</div>
	<!--注册结束-->

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.panelslider.min.js"></script>
	<script type="text/javascript" src="js/Myjs.js"></script>
</body>
</html>