<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel="stylesheet" href="css/login.css" />
	<!--侧滑CSS-->
	<style type="text/css">
		#page {
			height: 100%;
		}
		.panel {
			display: none;
			width: 100%;
		}
		.login {
			height: 100%;
		}
	</style>
	<!--侧滑CSS结束-->

</head>

<body style="overflow: hidden;">
	<!--登陆-->
	<div id="page">
		<div class="login">
			<div class="container">
				<div class="left">
					<img src="img/Login_Left_Img.png" />
				</div>
				<div class="right">
					<div class="logo">
						<img src="img/Logo.png" />
					</div>
					<div class="login_content">
						<div class="content" style="padding: 60px;">
							<div class="user_Head_portrait">
								<img src="img/Login_Right_Person.png" />
							</div>
							<form action="#" method="get">
								<div class="login_input">
									<input id="email" type="text" name="username" placeholder="用户名" />
									<input id="password" type="password" name="password" placeholder="密码" />
								</div>
								<div class="login_btn">
									<!--登陆按钮-->
									<input class="btn_login" onclick="CheckLogin()" type="submit" value=" " />								
								</div>
							</form>
						</div>
					</div>
					<!--注册按钮-->
					<div class="btn_zc">
						<a id="right-panel-link" href="#right-panel" style="position: relative;top: 20px;">还没有账号？马上注册</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!--登陆结束-->

	<!--注册-->
	<div id="right-panel" class="panel">
		<div class="login">
			<div class="container">
				<div class="left">
					<img src="img/Register_Left_Image.png" style="width: 50%;" />
				</div>
				<div class="right">
					<div class="logo">
						<img src="img/Logo.png" />
					</div>
					<div class="login_content register_content" style="top: -40px;">
						<div class="content">
							<div class="user_Head_portrait">
								<img src="img/Login_Right_Person.png" />
							</div>
							<form action="#" method="post" style="margin: -20px;">
								<div class="login_input">
									<input id="email" type="text" name="email" placeholder="邮箱" />
									<input id="username" type="text" name="username" placeholder="昵称" />
									<input id="phonenumber" type="text" name="phonenumber" placeholder="手机号" />
									<input id="psw" type="password" name="phonenumber" placeholder="密码" />
									<input id="psw_2" type="password" name="phonenumber" placeholder="确认密码" />
								</div>
								<div class="login_btn">
									<!--注册按钮-->
									<input onclick="CheckRegister()" class="btn_register" type="submit" value=" " />									
								</div>
							</form>
						</div>
					</div>
					<!--登陆按钮-->
					<a id="close-panel-bt" href="#right-panel" style="position: relative;top: -20px;">已有账号？点此登陆</a>
				</div>
			</div>
		</div>
	</div>
	<!--注册结束-->

	<!--侧滑JS-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.panelslider.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#left-panel-link').panelslider();
			$('#right-panel-link').panelslider({
				side: 'right',
				clickClose: false,
				duration: 1200
			});
			$('#close-panel-bt').click(function() {
				$.panelslider.close();
			});
		});
	</script>
	<!--侧滑JS结束-->

	<!--验证登陆JS-->
	<script>
		function CheckLogin() {
			var email = document.getElementById("email").value;
			var password = document.getElementById("password").value;
			
			if ((!email) || (!password)) {
				alert("请把信息输入完整");
			} else {
				data1 = {
					username: username,
					password: password
				};
				$.ajax({
					url: "#",
					dataType: "jsonp",
					data: data1,
					jsonp: "jsoncallback",
					cache: false,
					success: function(data) {
						if (data == 0) {
							alert("用户名或密码错误！");
						} else
						if (data != null) {
							window.location.href = "index.html";
						}
					},
					error: function(e) {
						alert("服务器抽风了~请重试！");
					}
				});
			}
		};
	</script>
	<!--验证JS结束-->
	<!--验证注册JS-->
	<script>
		function CheckRegister() {
			var email = document.getElementById('email').value;
			var username = document.getElementById('username').value;
			var phonenumber = document.getElementById("phonenumber").value;
			var psw = document.getElementById("psw").value;
			var psw_2 = document.getElementById('pwd_2').value;
			//验证邮箱格式
			function Isyx(yx) {
				var reyx = /^([.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
				return (reyx.test(yx));
			}
			if (!Isyx(email)) {
				alert("请输入正确的邮箱地址!")
				$('email').focus();
				return false;
			}
			//密码长度
			if (pwd.length < 6) {
				alert("密码长度不能小于六位");
				return 0;
			}
			//两次密码验证
			if (psw != psw_2) {
				alert("两次密码不同，请重新输入");
				return 0;
			}
			//昵称长度
			if (username.length > 8) {
				alert("昵称太长了~~~");
				return 0;
			}
			if (email && username && phonenumber && psw) {
				data2 = {
					email: email,
					username: username,
					phonenumber: phonenumber,
					psw: psw
				};
				$.ajax({
					url: "#",
					dataType: "jsonp",
					data: data1,
					jsonp: "jsoncallback",
					cache: false,
					success: function(data) {
						if (data != null) {
							window.location.href = "index.html";
						}
					},
					error: function(e) {
						alert("用户邮箱已注册");
					}
				});
			} else {
				alert("请把信息输入完整");
			}
		}
	</script>
	<!--验证注册JS结束-->
</body>

</html>